GATEWAY_PORT=80
LOG_FILE=/dev/stdout

# github oauth2 app credentials
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_AUTH_REDIRECT=http://localhost:8080/v1/auth/callback
GITHUB_AUTH_SCOPES=

# redis configs
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

# session configs
SESSION_TTL_DAYS=30
HASH_KEY=your_hash_key
BLOCK_KEY=your_block_key
CSRF_TTL_SECONDS=300

# grpc urls
USER_SERVICE_URL=localhost:8000
USER_SERVICE_INIT_CONN=2
USER_SERVICE_CONN_CAPACITY=1000
USER_SERVICE_CONN_TTL=2

# mongo url
MONGO_URL=mongodb://user:password@localhost:27017

JAEGER_AGENT_HOST=jaeger
OTEL_EXPORTER_JAEGER_AGENT_HOST=localhost
OTEL_EXPORTER_JAEGER_AGENT_PORT=6831