PORT=8000
LOG_FILE=/dev/stdout

# github oauth2 app credentials
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_AUTH_REDIRECT=http://localhost:8080/v1/auth/callback
GITHUB_AUTH_SCOPES=

# mongo url
MONGO_URL=mongodb://user:password@localhost:27017

JAEGER_AGENT_HOST=jaeger
OTEL_EXPORTER_JAEGER_AGENT_HOST=localhost
OTEL_EXPORTER_JAEGER_AGENT_PORT=6831